﻿<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="Styles/notes/notes.min.css?v=1" rel="stylesheet" />
    <title>Notes</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?v=1" />
</head>
<body data-ma-theme="{{::sv.appSettings.theme || 'cyan'}}" ng-controller="indexController">
    <main class="main">
        <header class="header">
            <div class="navigation-trigger hidden-xl-up" data-ma-action="aside-open" data-ma-target=".sidebar">
                <div class="navigation-trigger__inner">
                    <i class="navigation-trigger__line"></i>
                    <i class="navigation-trigger__line"></i>
                    <i class="navigation-trigger__line"></i>
                </div>
            </div>
            <div class="header__logo hidden-sm-down clickable">
                <h1>
                    <a ng-href="#/{{::sv.appSettings.otherwise}}">Notes</a>
                </h1>
            </div>
            <form class="search">
                <!--<div class="search__inner">
                    <input ng-disabled="!sv.mainReady"
                           type="text" class="search__text" placeholder="Buscar...">
                    <i class="zmdi zmdi-search search__helper" data-ma-action="search-close"></i>
                </div>-->
            </form>
            <!--<ul class="top-nav">
                <li class="hidden-xl-up"><a href="" data-ma-action="search-open"><i class="zmdi zmdi-search"></i></a></li>
                <li class="dropdown">
                    <a href="" data-toggle="dropdown"><i class="zmdi zmdi-email"></i></a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu--block">
                        <div class="listview listview--hover">
                            <div class="listview__header">
                                Mensajes

                                <div class="actions">
                                    <a href="messages.html" class="actions__item zmdi zmdi-plus"></a>
                                </div>
                            </div>
                            <a href="" class="listview__item">
                                <img src="demo/img/profile-pics/1.jpg" class="listview__img" alt="">
                                <div class="listview__content">
                                    <div class="listview__heading">
                                        David Belle <small>12:01 PM</small>
                                    </div>
                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                </div>
                            </a>
                            <a href="" class="listview__item">
                                <img src="demo/img/profile-pics/2.jpg" class="listview__img" alt="">
                                <div class="listview__content">
                                    <div class="listview__heading">
                                        Jonathan Morris
                                        <small>02:45 PM</small>
                                    </div>
                                    <p>Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</p>
                                </div>
                            </a>
                            <a href="" class="listview__item">
                                <img src="demo/img/profile-pics/3.jpg" class="listview__img" alt="">
                                <div class="listview__content">
                                    <div class="listview__heading">
                                        Fredric Mitchell Jr.
                                        <small>08:21 PM</small>
                                    </div>
                                    <p>Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</p>
                                </div>
                            </a>
                            <a href="" class="listview__item">
                                <img src="demo/img/profile-pics/4.jpg" class="listview__img" alt="">
                                <div class="listview__content">
                                    <div class="listview__heading">
                                        Glenn Jecobs
                                        <small>08:43 PM</small>
                                    </div>
                                    <p>Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</p>
                                </div>
                            </a>
                            <a href="" class="listview__item">
                                <img src="demo/img/profile-pics/5.jpg" class="listview__img" alt="">
                                <div class="listview__content">
                                    <div class="listview__heading">
                                        Bill Phillips
                                        <small>11:32 PM</small>
                                    </div>
                                    <p>Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</p>
                                </div>
                            </a>
                            <a href="" class="view-more">View all messages</a>
                        </div>
                    </div>
                </li>
                <li class="dropdown top-nav__notifications">
                    <a href="" data-toggle="dropdown" class="top-nav__notify">
                        <i class="zmdi zmdi-notifications"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu--block">
                        <div class="listview listview--hover">
                            <div class="listview__header">
                                Notificaciones

                                <div class="actions">
                                    <a href="" class="actions__item zmdi zmdi-check-all" data-ma-action="notifications-clear"></a>
                                </div>
                            </div>
                            <div class="listview__scroll scrollbar-inner">
                                <a href="" class="listview__item">
                                    <img src="demo/img/profile-pics/1.jpg" class="listview__img" alt="">
                                    <div class="listview__content">
                                        <div class="listview__heading">David Belle</div>
                                        <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                    </div>
                                </a>
                                <a href="" class="listview__item">
                                    <img src="demo/img/profile-pics/2.jpg" class="listview__img" alt="">
                                    <div class="listview__content">
                                        <div class="listview__heading">Jonathan Morris</div>
                                        <p>Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</p>
                                    </div>
                                </a>
                                <a href="" class="listview__item">
                                    <img src="demo/img/profile-pics/3.jpg" class="listview__img" alt="">
                                    <div class="listview__content">
                                        <div class="listview__heading">Fredric Mitchell Jr.</div>
                                        <p>Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</p>
                                    </div>
                                </a>
                                <a href="" class="listview__item">
                                    <img src="demo/img/profile-pics/4.jpg" class="listview__img" alt="">
                                    <div class="listview__content">
                                        <div class="listview__heading">Glenn Jecobs</div>
                                        <p>Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</p>
                                    </div>
                                </a>
                                <a href="" class="listview__item">
                                    <img src="demo/img/profile-pics/5.jpg" class="listview__img" alt="">
                                    <div class="listview__content">
                                        <div class="listview__heading">Bill Phillips</div>
                                        <p>Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</p>
                                    </div>
                                </a>
                                <a href="" class="listview__item">
                                    <img src="demo/img/profile-pics/1.jpg" class="listview__img" alt="">
                                    <div class="listview__content">
                                        <div class="listview__heading">David Belle</div>
                                        <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                    </div>
                                </a>
                                <a href="" class="listview__item">
                                    <img src="demo/img/profile-pics/2.jpg" class="listview__img" alt="">
                                    <div class="listview__content">
                                        <div class="listview__heading">Jonathan Morris</div>
                                        <p>Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</p>
                                    </div>
                                </a>
                                <a href="" class="listview__item">
                                    <img src="demo/img/profile-pics/3.jpg" class="listview__img" alt="">
                                    <div class="listview__content">
                                        <div class="listview__heading">Fredric Mitchell Jr.</div>
                                        <p>Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</p>
                                    </div>
                                </a>
                            </div>
                            <div class="p-1"></div>
                        </div>
                    </div>
                </li>
                <li class="hidden-xs-down">
                    <a href="" data-ma-action="aside-open" data-ma-target=".chat" class="top-nav__notify">
                        <i class="zmdi zmdi-comment-alt-text"></i>
                    </a>
                </li>
            </ul>-->
        </header>
        <aside id="sidebar" ng-show="::sv.user.id" class="sidebar">
            <div class="scrollbar-inner">
                <div class="user">
                    <div class="user__info" data-toggle="dropdown">
                        <img class="user__img" ng-src="{{::sv.user.imageUrl}}" alt="">
                        <div>
                            <div class="user__name" ng-bind="::sv.user.name"></div>
                            <div class="user__email" ng-bind="::sv.user.email"></div>
                        </div>
                    </div>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" target="_parent" href="#/profile">Perfil</a>
                        <!--<a class="dropdown-item" href="">Configuración</a>-->
                        <a class="dropdown-item" href="" ng-click="::logOut();">Cerrar sesión</a>
                    </div>
                    <i class="zmdi zmdi-more-vert actions__item" style="position: absolute; right: -8px;top: 15px; z-index: -1;"></i>
                </div>
                <ul class="navigation">
                    <li
                        ng-repeat="item in ::sv.appSettings.menu" ng-show="item.visible"
                        ng-click="::menuClick(item);"
                        ng-class="item.class">
                        <a ng-href="#/{{::item.route}}">
                            <i ng-class="::item.icon" class="zmdi"></i>&nbsp;{{::item.display}}
                        </a>
                    </li>

                    <!--<li class="navigation__sub">
                        <a href=""><i class="zmdi zmdi-view-week"></i> Example sub menu</a>
                        <ul>
                            <li><a href="hidden-sidebar.html">Hidden Sidebar</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="index-template.html">
                            <i class="zmdi zmdi-format-underlined"></i> Template
                        </a>
                    </li>-->
                </ul>
            </div>
        </aside>
        <aside class="chat">
            <div class="chat__header">
                <h2 class="chat__title">Chat <small>20 contactos online</small></h2>
                <div nts-search-input
                     nts-data-origin="sv.chats"
                     nts-data-target="sv.chatsFiltered">
                </div>

                <!--<div class="chat__search">
                    <div class="form-group">


                        <input type="text" class="form-control" placeholder="Buscar...">
                        <i class="form-group__bar"></i>
                    </div>
                </div>-->
            </div>
            <div class="listview listview--hover chat__buddies scrollbar-inner">
                <a class="listview__item chat__available">
                    <img src="demo/img/profile-pics/7.jpg" class="listview__img" alt="">
                    <div class="listview__content">
                        <div class="listview__heading">Jeannette Lawson</div>
                        <p>hey, how are you doing.</p>
                    </div>
                </a>
                <a class="listview__item chat__available">
                    <img src="demo/img/profile-pics/5.jpg" class="listview__img" alt="">
                    <div class="listview__content">
                        <div class="listview__heading">Jeannette Lawson</div>
                        <p>hmm...</p>
                    </div>
                </a>
                <a class="listview__item chat__away">
                    <img src="demo/img/profile-pics/3.jpg" class="listview__img" alt="">
                    <div class="listview__content">
                        <div class="listview__heading">Jeannette Lawson</div>
                        <p>all good</p>
                    </div>
                </a>
                <a class="listview__item">
                    <img src="demo/img/profile-pics/8.jpg" class="listview__img" alt="">
                    <div class="listview__content">
                        <div class="listview__heading">Jeannette Lawson</div>
                        <p>morbi leo risus portaac consectetur vestibulum at eros.</p>
                    </div>
                </a>
                <a class="listview__item">
                    <img src="demo/img/profile-pics/6.jpg" class="listview__img" alt="">
                    <div class="listview__content">
                        <div class="listview__heading">Jeannette Lawson</div>
                        <p>fusce dapibus</p>
                    </div>
                </a>
                <a class="listview__item chat__busy">
                    <img src="demo/img/profile-pics/9.jpg" class="listview__img" alt="">
                    <div class="listview__content">
                        <div class="listview__heading">Jeannette Lawson</div>
                        <p>cras mattis consectetur purus sit amet fermentum.</p>
                    </div>
                </a>
            </div>
            <!--<a href="messages.html" class="btn btn--action btn--fixed btn-danger"><i class="zmdi zmdi-plus"></i></a>-->
        </aside>
        <section ui-view class="content" style="min-height: 350px;">
            <div class="page-loader page-loader-main">
                <div class="page-loader__spinner">
                    <svg viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                    </svg>
                </div>
                <header class="content__title welcome-message">
                    <h1>Bienvenido a notes!</h1>
                </header>
            </div>
        </section>

        <!--<footer class="footer hidden-xs-down animated fadeInUp">
            <p>©notes academic assistant. Todos los derechos reservados.</p>
            <ul class="nav footer__nav">
                <a class="nav-link" href="#/aboutUs">Sobre nosotros</a>
                <a class="nav-link" href="#/support">Soporte</a>
                <a class="nav-link" href="#/contact">Contacto</a>
            </ul>
        </footer>-->
    </main>
    <!--[if IE10]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade to any of the following web browsers to access this website.</p>

            <div class="ie-warning__downloads">
                <a href="http://www.google.com/chrome">
                    <img src="img/browsers/chrome.png" alt="">
                </a>
                <a href="https://www.microsoft.com/en-us/windows/microsoft-edge">
                    <img src="img/browsers/edge.png" alt="">
                </a>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->

    <script src="Scripts/bundles/template.min.js?v=1"></script>
    <script src="Scripts/bundles/angularAll.min.js?v=1"></script>
    <script src="Scripts/bundles/notes.js?v=1"></script>

    <script src="Scripts/bundles/fake.js"></script>
</body>
</html>
