﻿<!DOCTYPE html>
<html lang="en" ng-app="loginApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="Styles/login/login.min.css" rel="stylesheet" />
    <title>Notes</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?v=1" />
</head>
<body data-ma-theme="cyan" ng-controller="loginController">
    <div id="fb-root"></div>
    <div class="page-loader page-loader-main">
        <div class="page-loader__spinner">
            <svg viewBox="25 25 50 50">
                <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
            </svg>
        </div>
    </div>
    <div class="login">
        <div class="login__block" style="display: block !important; position: relative;">
            <!-- Login -->
            <div class="login__block active" id="l-login">
                <div class="login__block__header">
                    <i class="zmdi zmdi-account-circle"></i>
                    Bienvenido a notes!
                    <div class="actions actions--inverse login__block__actions">
                        <div>
                            <i data-toggle="dropdown" class="zmdi zmdi-more-vert actions__item"></i>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item"
                                   ng-click="frmRegister.$$form.clean(true)"
                                   data-ma-action="login-switch" data-ma-target="#l-register" href="">
                                    Crear una nueva cuenta
                                </a>
                                <a class="dropdown-item"
                                   ng-click="frmForgot.$$form.clean(true)"
                                   data-ma-action="login-switch" data-ma-target="#l-forget-password" href="">
                                    Olvido su contrase&ntilde;a?
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <form name="frmLogin"
                      $$exception-show="true"
                      ng-submit="ntsLogin()"
                      class="login__block__body">

                    <div $$validate="user"
                         class="form-group form-group--float form-group--centered">
                        <input type="text"
                               $$input="Correo eléctronico"
                               class="form-control"
                               name="user"
                               ng-pattern="::sv.emailPattern"
                               ng-required="::true"
                               ng-model="sv.user.user">
                        <label>Correo eléctronico</label>
                        <i class="form-group__bar"></i>
                    </div>

                    <div $$validate="pass"
                         class="form-group form-group--float form-group--centered">
                        <input type="password"
                               $$input="Contraseña"
                               class="form-control"
                               name="pass"
                               ng-required="::true"
                               ng-model="sv.user.pass">
                        <label>Contrase&ntilde;a</label>
                        <i class="form-group__bar"></i>
                    </div>

                    <button target="_self" href="#"
                            type="submit"
                            class="btn btn--icon login__block__btn">
                        <i class="zmdi zmdi-long-arrow-right"></i>
                    </button>
                </form>
            </div>

            <!-- Register -->
            <div class="login__block" id="l-register">
                <div class="login__block__header palette-Blue bg">
                    <i class="zmdi zmdi-account-circle"></i>
                    Crear una nueva cuenta
                    <div class="actions actions--inverse login__block__actions">
                        <div>
                            <i data-toggle="dropdown" class="zmdi zmdi-more-vert actions__item"></i>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item"
                                   ng-click="frmLogin.$$form.clean(true)"
                                   data-ma-action="login-switch" data-ma-target="#l-login" href="">
                                    Ya tiene una cuenta?
                                </a>
                                <a class="dropdown-item"
                                   ng-click="frmForgot.$$form.clean(true)"
                                   data-ma-action="login-switch" data-ma-target="#l-forget-password" href="">
                                    Olvido su contrase&ntilde;a?
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <form name="frmRegister"
                      ng-submit="ntsRegister()"
                      class="login__block__body">
                    <div $$validate="name"
                         class="form-group form-group--float form-group--centered">
                        <input $$input="Nombre"
                               name="name"
                               ng-model="sv.register.name"
                               ng-required="::true"
                               type="text" class="form-control">
                        <label>Nombre</label>
                        <i class="form-group__bar"></i>
                    </div>
                    <div $$validate="user"
                         class="form-group form-group--float form-group--centered">
                        <input $$input="Correo eléctronico"
                               name="user"
                               ng-model="sv.register.user"
                               ng-required="::true"
                               ng-pattern="::sv.emailPattern"
                               type="text" class="form-control">
                        <label>Correo eléctronico</label>
                        <i class="form-group__bar"></i>
                    </div>
                    <div $$validate="pass"
                         class="form-group form-group--float form-group--centered">
                        <input $$input="Contraseña"
                               name="pass"
                               ng-model="sv.register.pass"
                               ng-required="::true"
                               type="password" class="form-control">
                        <label>Contrase&ntilde;a</label>
                        <i class="form-group__bar"></i>
                    </div>
                    <div $$validate="license"
                         class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input $$input="Aceptar el acuerdo de licencia"
                                   $$required-message="Debe aceptar el <b>acuerdo de licencia</b>"
                                   name="license"
                                   ng-model="sv.register.license"
                                   ng-required="::true"
                                   type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                Aceptar el acuerdo de licencia.
                            </span>
                        </label>
                    </div>
                    <button type="submit"
                            class="btn btn--icon login__block__btn">
                        <i class="zmdi zmdi-plus"></i>
                    </button>
                </form>
            </div>

            <!-- Forgot Password -->
            <div class="login__block" id="l-forget-password">
                <div class="login__block__header palette-Purple bg">
                    <i class="zmdi zmdi-account-circle"></i>
                    Olvido su contrase&ntilde;a?

                    <div class="actions actions--inverse login__block__actions">
                        <div>
                            <i data-toggle="dropdown" class="zmdi zmdi-more-vert actions__item"></i>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item"
                                   ng-click="frmLogin.$$form.clean(true)"
                                   data-ma-action="login-switch" data-ma-target="#l-login" href="">
                                    Ya tiene una cuenta?
                                </a>
                                <a class="dropdown-item"
                                   ng-click="frmRegister.$$form.clean(true)"
                                   data-ma-action="login-switch" data-ma-target="#l-register" href="">
                                    Crear una nueva cuenta
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <form name="frmForgot"
                      ng-submit="ntsForgot()"
                      class="login__block__body">
                    <p class="mt-4">
                        Ingrese el correo electrónico asociado a su cuenta.
                    </p>
                    <div $$validate="user"
                         class="form-group form-group--float form-group--centered">
                        <input $$input="Correo eléctronico"
                               name="user"
                               ng-model="sv.forgot.user"
                               ng-required="::true"
                               ng-pattern="::sv.emailPattern"
                               type="text" class="form-control">
                        <label>Correo eléctronico</label>
                        <i class="form-group__bar"></i>
                    </div>
                    <button type="submit"
                            href="index.html"
                            class="btn btn--icon login__block__btn">
                        <i class="zmdi zmdi-check"></i>
                    </button>
                </form>
            </div>

            <div class="social-bar">
                <div class="social-bar-content">
                    <nav ng-repeat="button in ::sv.socialMediaButtons">
                        <a href="" target="_self" ng-class="::button.class" ng-click="login(button, $event)"></a>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!--[if IE10]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade to any of the following web browsers to access this website.</p>

            <div class="ie-warning__downloads">
                <a href="http://www.google.com/chrome">
                    <img src="img/browsers/chrome.png" alt="">
                </a>
                <a href="https://www.microsoft.com/en-us/windows/microsoft-edge">
                    <img src="img/browsers/edge.png" alt="">
                </a>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->

    <script src="Scripts/bundles/loginTemplate.min.js?v=1"></script>
    <script src="Scripts/bundles/angularAll.min.js?v=1"></script>
    <script src="Scripts/bundles/login.js?v=1"></script>
</body>
</html>