﻿<div class="card animated fadeIn">
    <div class="card-header">
        <h2 class="card-title">Lista cursos</h2>
        <small class="card-subtitle">
            A continuación, se muestra información referente a los cursos que actualmente impartes.
        </small>
        <!--<div class="actions">

            <div class="dropdown actions__item">
                <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item">Actualizar</button>
                    <button class="dropdown-item">Filtrar por curso</button>
                    <button class="dropdown-item"
                            ng-click="sv._showResume = !sv._showResume"
                            ng-bind="sv._showResume ? 'Ocultar resumen' : 'Mostrar resumen'"></button>
                </div>
            </div>
        </div>-->
    </div>

    <div class="card-block">
        <div class="col-md-12 col-sm-12">

            <div class="no-print"
                 nts-search-input
                 nts-data-origin="::sv.courses"
                 nts-data-target="::sv.coursesFiltered">
            </div>

            <div class="table-responsive scrollbar-inner">
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-uppercase">
                            <th>Periodo</th>
                            <th>Curso</th>
                            <th>Hora inicio</th>
                            <th>Hora salida</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="course in sv.coursesFiltered | limitTo:sv.$$limitTo | limitTo:sv.$$pagezize">
                            <td ng-bind="course.periodoDisplayName"></td>
                            <td>{{::course.cursoDisplayName}} <a class="no-print" ng-href="{{'#/grades?' + course.cursoId}}">Evaluación</a></td>
                            <td ng-bind="course.horaInicio"></td>
                            <td ng-bind="course.horaSalida"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="no-print"
                 $$paginator="paginator"
                 $$rows-length="sv.coursesFiltered.length"
                 $$page-size="sv.$$pagezize"
                 $$limitto="sv.$$limitTo">
            </div>
        </div>

        <button class="btn btn-danger btn--action btn--fixed  waves-effect fadeIn" data-ma-action="print">
            <i class="zmdi zmdi-print"></i>
        </button>
    </div>

</div>



