﻿#SSexception-modal .modal .modal-dialog .modal-content {
  word-wrap: break-word;
}
.SSexception-modal-list {
  padding-top: 10px;
  padding-bottom: 0;
}
.SSexception-modal-list .SSexception-item {
  display: list-item;
  list-style: none;
  position: relative;
  line-height: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.SSexception-modal-list .SSexception-item .SSexception-item-icon {
  color: #edb100 !important;
  font-size: 16px;
}
.SSspan {
  display: none;
}