﻿.transition(@value: ease all .2s) {
    -moz-transition: @value;
    -o-transition: @value;
    -webkit-transition: @value;
    transition: @value;
}

.border-radius(@value: 2px) {
    -moz-border-radius: @value;
    -webkit-border-radius: @value;
    border-radius: @value;
}

.transform(@value) {
    -moz-transform: @value;
    -ms-transform: @value;
    -o-transform: @value;
    -webkit-transform: @value;
    transform: @value;    
}

.box-shadow(@value) {
    -moz-box-shadow: @value;
    -webkit-box-shadow: @value;
    box-shadow: @value;
}

