﻿@import '../../vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css';
@import '../../vendors/bower_components/animate.css/animate.min.css';
@import '../../css/app.min.css';
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9e6u4n');
  src:  url('fonts/icomoon.eot?9e6u4n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9e6u4n') format('truetype'),
    url('fonts/icomoon.woff?9e6u4n') format('woff'),
    url('fonts/icomoon.svg?9e6u4n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-github:before {
  content: "\eab0";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}

/*$$*/
#SSexception-modal .modal .modal-dialog .modal-content {
  word-wrap: break-word;
}
.SSexception-modal-list {
  padding-top: 10px;
  padding-bottom: 0;
}
.SSexception-modal-list .SSexception-item {
  display: list-item;
  list-style: none;
  position: relative;
  line-height: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.SSexception-modal-list .SSexception-item .SSexception-item-icon {
  color: #edb100 !important;
  font-size: 16px;
}
.SSspan {
  display: none;
}
#SSmessage-modal .modal .modal-dialog .modal-content {
  word-wrap: break-word;
}
.SSmessage-notification {
  opacity: 0.8 !important;
  width: auto;
}
.SSmessage-notification h6 {
  font-size: 14px;
  margin-top: 0;
}
.SSmessage-notification p .SSmessage-notification-icon {
  font-size: 16px;
}
.SSmessage-notification.alert-info {
  border: none;
  background-color: rgba(46, 188, 252, 0.65);
}
.SSmessage-notification.alert-success {
  border: none;
  background-color: rgba(87, 213, 159, 0.65);
}
.SSmessage-notification.alert-warning {
  border: none;
  background-color: rgba(255, 199, 33, 0.65);
}
.SSmessage-notification.alert-danger {
  border: none;
  background-color: rgba(255, 111, 108, 0.65);
}
.social-bar {
  font-size: 22px;
  left: -55px;
  position: absolute;
  top: 0px;
}
.social-bar .social-bar-content {
  width: 55px;
}
.social-bar .social-bar-content nav {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  -moz-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  -webkit-transition: ease all 0.2s;
  transition: ease all 0.2s;
}
.social-bar .social-bar-content nav a {
  -moz-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  -webkit-transition: ease all 0.2s;
  transition: ease all 0.2s;
  color: white !important;
  text-decoration: none;
  padding: 0.7rem;
  display: inline-block;
  width: 100%;
}
.social-bar .social-bar-content nav:first-child a {
  -moz-border-radius: 1rem 0 0 0;
  -webkit-border-radius: 1rem 0 0 0;
  border-radius: 1rem 0 0 0;
}
.social-bar .social-bar-content nav:last-child a {
  -moz-border-radius: 0 0 0 1rem;
  -webkit-border-radius: 0 0 0 1rem;
  border-radius: 0 0 0 1rem;
}
.social-bar .social-bar-content nav:hover {
  padding-left: 0;
}
.social-bar .social-bar-content nav:hover a {
  -moz-border-radius: 1rem 0 0 1rem !important;
  -webkit-border-radius: 1rem 0 0 1rem !important;
  border-radius: 1rem 0 0 1rem !important;
  -moz-box-shadow: 0px 2px 0px rgba(128, 128, 128, 0.6);
  -webkit-box-shadow: 0px 2px 0px rgba(128, 128, 128, 0.6);
  box-shadow: 0px 2px 0px rgba(128, 128, 128, 0.6);
  text-indent: -10px;
}
.social-bar .social-bar-content .icon-facebook {
  background: #2E406E;
}
.social-bar .social-bar-content .icon-twitter {
  background: #339DC5;
}
.social-bar .social-bar-content .icon-youtube {
  background: #E83028;
}
.social-bar .social-bar-content .icon-google-plus {
  background: #d7483d;
}
.social-bar .social-bar-content .icon-linkedin2 {
  background: #2272b3;
}
.social-bar .social-bar-content .icon-instagram {
  background: #3F60A5;
}
@media (max-width: 480px) {
  .social-bar {
    bottom: -55px !important;
    top: unset;
    left: 0;
    margin: 0 auto;
    width: 100%;
  }
  .social-bar .social-bar-content {
    width: 100%;
  }
  .social-bar .social-bar-content nav {
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
    padding-left: unset !important;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    overflow: hidden;
  }
  .social-bar .social-bar-content nav a {
    -moz-border-radius: unset !important;
    -webkit-border-radius: unset !important;
    border-radius: unset !important;
  }
  .social-bar .social-bar-content nav:hover {
    transform: scale(0.8);
    -moz-box-shadow: 0 0 0.5rem rgba(128, 128, 128, 0.6);
    -webkit-box-shadow: 0 0 0.5rem rgba(128, 128, 128, 0.6);
    box-shadow: 0 0 0.5rem rgba(128, 128, 128, 0.6);
  }
  .social-bar .social-bar-content nav:hover a {
    text-indent: unset;
  }
}
/*References*/
.has-success.form-group .SSspan,
.has-warning.form-group .SSspan,
.has-danger.form-group .SSspan {
  padding-right: 0.3rem;background-repeat: no-repeat;background-position: center right 0.6375rem;background-size: 1.275rem 1.275rem;
}
.has-success.form-group .SSspan,
.has-success .has-success.form-group .SSspan {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%2332c787' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
}
.has-warning.form-group .SSspan,
.has-warning .has-warning.form-group .SSspan {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23ffc107' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E");
}
.has-danger.form-group .SSspan,
.has-danger .has-danger.form-group .SSspan {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff5652' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
}
/*Notes*/
body,
.tooltip-inner,
.default-font-family {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.default-font-color {
  color: #707070 !important;
}
.default-font-placeholder::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #707070 !important;
}
.default-font-placeholder:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #707070 !important;
  opacity: 1;
}
.default-font-placeholder::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #707070 !important;
  opacity: 1;
}
.default-font-placeholder:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #707070 !important;
}
.custom-checkbox + .SSspan {
  top: 2px !important;
}
.has-success.form-group .SSspan {
  display: none;
  display: block !important;
  position: absolute;
  width: 25px;
  height: 15px;
  right: -5px;
  top: 10px;
  cursor: pointer;
}
.has-warning.form-group .SSspan {
  display: none;
  display: block !important;
  position: absolute;
  width: 25px;
  height: 15px;
  right: -5px;
  top: 10px;
  cursor: pointer;
}
.has-danger.form-group .SSspan {
  display: none;
  display: block !important;
  position: absolute;
  width: 25px;
  height: 15px;
  right: -5px;
  top: 10px;
  cursor: pointer;
}
.clickable {
  cursor: pointer !important;
}
.nts-spinner {
  top: 90px;
  opacity: 0.8;
}
.nts-spinner .page-loader__spinner {
  position: absolute;
  width: 100%;
  height: 100%;
}
.nts-spinner i {
  font-size: 28px;
}