﻿@import '../../vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css';
@import '../../vendors/bower_components/animate.css/animate.min.css';
@import '../../css/app.min.css';

@import (reference) "../$$/mins.less";
@import (inline) url('../login/socialMediaFonts.css');

/*$$*/
@import "../$$/$$exceptions.less";
@import "../$$/$$message.less";

@facebook: #2E406E;
@twitter: #339DC5;
@youtube: #E83028;
@google: #d7483d;
@linkedin: #2272b3;
@instagram: #3F60A5;
@iconShadow: rgba(128, 128, 128, 0.6);

.social-bar {
    font-size: 22px;
    left: -55px;
    position: absolute;
    top: 0px;

    .social-bar-content {
        width: 55px;

        nav {
            margin: 0;
            padding: 0;
            padding-left: 15px;
            .transition(ease all .2s);

            a {
                .transition(ease all .2s);
                color: white !important;
                text-decoration: none;
                padding: .7rem;
                display: inline-block;
                width: 100%;
            }

            &:first-child a {
                .border-radius(1rem 0 0 0);
            }

            &:last-child a {
                .border-radius(0 0 0 1rem);
            }

            &:hover {
                padding-left: 0;
                a {
                    .border-radius(1rem 0 0 1rem) !important;
                    .box-shadow(0px 2px 0px @iconShadow);
                    text-indent: -10px;
                }
            }
        }

        .icon-facebook {
            background: @facebook;
        }

        .icon-twitter {
            background: @twitter;
        }

        .icon-youtube {
            background: @youtube;
        }

        .icon-google-plus {
            background: @google;
        }

        .icon-linkedin2 {
            background: @linkedin;
        }

        .icon-instagram {
            background: @instagram;
        }
    }
}

@media(max-width: 480px) {
    .social-bar {
        bottom: -55px !important;
        top: unset;
        left: 0;
        margin: 0 auto;
        width: 100%;

        .social-bar-content {
            width: 100%;

            nav {
                display: inline-block;
                margin-right: 5px;
                margin-top: 10px;
                padding-left: unset !important;
                .border-radius(50px);
                overflow: hidden;

                a {
                    .border-radius(unset) !important;
                }

                &:hover {
                    a {
                        text-indent: unset;
                    }

                    transform: scale(0.8);
                    .box-shadow(0 0 .5rem @iconShadow);
                }
            }
        }
    }
}

@import "../notes/custom.less";
@import "../notes/ntsSpinner";