﻿<div $$lazy-render="sv.lazyrender">
    <div class="card animated fadeIn">
        <div class="card-header">
            <h2 class="card-title">Lista estudiates</h2>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group form-group--select">
                        <div class="select">
                            <select class="form-control">
                                <option ng-repeat="curso in sv.cursos" ng-bind="::curso.cursoDisplayName"></option>
                            </select>
                        </div>
                    </div>
                    <small class="card-subtitle">
                        A continuación, se muestra información referente a los estudiantes asociados del curso.
                    </small>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="card-block" ng-show="sv._showResume" style="padding-bottom: 0;">
                        <div class="row quick-stats">
                            <div class="col-sm-6 col-md-6">
                                <div class="quick-stats__item bg-green clickable">
                                    <div class="quick-stats__info">
                                        <h2 ng-bind="::getAprovados()"></h2>
                                        <small>Total actual aprobados</small>
                                    </div>

                                    <!--<div class="quick-stats__chart sparkline-bar-stats">19,15,25,10,18</div>-->
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6">
                                <div class="quick-stats__item bg-red clickable">
                                    <div class="quick-stats__info">
                                        <h2 ng-bind="::getReprovados()"></h2>
                                        <small>Total actual reprobados</small>
                                    </div>

                                    <!--<div class="quick-stats__chart sparkline-bar-stats">1,0,0,0,2</div>-->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="actions">

                <div class="dropdown actions__item">
                    <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!--<button class="dropdown-item">Filtrar por curso</button>-->
                        <button class="dropdown-item"
                                ng-click="sv._showResume = !sv._showResume"
                                ng-bind="sv._showResume ? 'Ocultar resumen' : 'Mostrar resumen'"></button>

                        <button class="dropdown-item" ng-if="!sv._editar"
                                ng-click="!(sv._verTodo = 0) && paginator.changePageSize(5)">
                            Ver 5 lineas
                        </button>
                        <button class="dropdown-item" ng-if="!sv._editar"
                                ng-click="!(sv._verTodo = 0) && paginator.changePageSize(15)">
                            Ver 15 lineas
                        </button>
                        <button class="dropdown-item" ng-if="!sv._editar"
                                ng-click="!(sv._verTodo = 0) && paginator.changePageSize(25)">
                            Ver 25 lineas
                        </button>
                        <button class="dropdown-item" ng-if="!sv._editar"
                                ng-click="(sv._verTodo = 1) && paginator.changePageSize(sv.students.length)">
                            Ver Todo
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-block">
            <div class="col-md-12 col-sm-12">

                <div class="no-print"
                     nts-search-input
                     nts-data-origin="::sv.students"
                     nts-data-target="::sv.studentsFiltered">
                </div>

                <div class="table-responsive scrollbar-inner">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="text-uppercase">
                                <th>Carnet</th>
                                <th>Nombre</th>
                                <th>Email</th>
                                <th>Nota</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="student in sv.studentsFiltered | limitTo:sv.$$limitTo | limitTo:sv.$$pagezize">
                                <td ng-bind="::student.id"></td>
                                <td ng-bind="::(student.name + ' ' + student.fistLastName + ' ' + student.secontLastName)"></td>
                                <td ng-bind="::student.email"></td>
                                <td ng-bind="::getNotaStudianteNota(student.id)"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div $$paginator="paginator"
                     $$rows-length="sv.studentsFiltered.length"
                     $$page-size="::sv.$$pagezize"
                     $$limitto="::sv.$$limitTo">
                </div>
            </div>
        </div>

        <button class="btn btn-danger btn--action btn--fixed  waves-effect fadeIn" data-ma-action="print">
            <i class="zmdi zmdi-print"></i>
        </button>
    </div>
</div>




