﻿@import (reference) "$$variables.less";
@import (reference) "mins.less";

#SSexception-modal .modal .modal-dialog .modal-content {
    word-wrap: break-word;
}

.SSexception-modal-list {
    padding-top: 10px;
    padding-bottom: 0;

    .SSexception-item {
        display: list-item;
        list-style: none;
        position: relative;
        line-height: 24px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        .SSexception-item-icon {
            color: darken(#ffc721, 10%) !important;
            font-size: 16px;
        }
    }
}

.SSspan {
    display: none;
}