﻿@import (reference) "$$variables.less";
@import (reference) "mins.less";

#SSmessage-modal .modal .modal-dialog .modal-content {
    word-wrap: break-word;
}

.SSmessage-notification {
    @info-background-info: #2ebcfc;
    @info-background-success: #57d59f;
    @info-background-warning: #ffc721;
    @info-background-danger: #ff6f6c;

    opacity: .8 !important;
    width: auto;

    h6 {
        font-size: 14px;
        margin-top: 0;
    }

    p {
        .SSmessage-notification-icon {
            font-size: 16px;
        }
    }

    .alert(@color) {
        border: none;
        background-color: fade(@color, 65%);
    }

    &.alert-info {
        .alert(@info-background-info);
    }

    &.alert-success {
        .alert(@info-background-success);
    }

    &.alert-warning {
        .alert(@info-background-warning);
    }

    &.alert-danger {
        .alert(@info-background-danger);
    }
}
