﻿<div $$lazy-render="sv.lazyrender">
    <div ng-show="!sv.editingProfile"
         class="content__inner content__inner--sm animated fadeIn">
        <header class="content__title">
            <h1 ng-bind="::sv.user.name"></h1>

            <div class="actions">
                <div class="dropdown actions__item">
                    <i data-toggle="dropdown" class="zmdi zmdi-edit"></i>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="" class="dropdown-item" ng-click="::editProfile()">Editar</a>
                    </div>
                </div>
            </div>
        </header>

        <div class="card profile">
            <div class="profile__img">
                <img ng-src="{{::sv.user.imageUrl}}" alt="">
            </div>

            <div class="profile__info">
                <p ng-bind="sv.about.title"></p>

                <ul class="icon-list">
                    <li><i class="zmdi zmdi-phone"></i> {{sv.about.tel}}</li>
                    <li><i class="zmdi zmdi-email"></i> {{sv.about.email}}</li>
                    <li>
                        <i class="zmdi" ng-class="::('zmdi-' + sv.user.provider)"></i>
                        {{::sv.user.name}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-block">
                <h4 class="card-block__title mb-4" ng-bind="::('Acerca de ' + sv.user.name)"></h4>

                <p ng-bind="sv.about.description"></p>

                <br>

                <h4 class="card-block__title mb-4">
                    Informacion de contacto
                </h4>

                <ul class="icon-list">
                    <li>
                        <i class="zmdi zmdi-linkedin"></i>
                        <a target="_blank" ng-href="{{sv.about.linkedin}}" ng-bind="::sv.user.name"></a>
                    </li>
                    <li><i class="zmdi zmdi-pin"></i>Costa Rica, San jose, Tibas, San juan calle 19A</li>
                </ul>
            </div>
        </div>
    </div>

    <form ng-show="sv.editingProfile"
          name="frmEditAbout"
          $$exception-show="true"
          ng-submit="editAboutSave()"
          class="content__inner content__inner--sm">
        <header class="content__title">
            <h1 ng-bind="::sv.user.name"></h1>

            <div class="actions">
                <div class="dropdown actions__item">
                    <i data-toggle="dropdown" class="zmdi zmdi-edit"></i>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="" class="dropdown-item" ng-click="cancelEditProfile()">Cancelar edición</a>
                    </div>
                </div>
            </div>
        </header>

        <div class="card profile">
            <div class="profile__img">
                <img ng-src="{{::sv.model.user.imageUrl}}" alt="">
                <a ng-if="sv.user.provider === 'ntsSession'" href="" class="zmdi zmdi-camera profile__img__edit"></a>
            </div>

            <div class="profile__info">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <i class="zmdi zmdi-edit"></i>
                    </span>
                    <div $$validate="title" class="form-group">
                        <input name="title"
                               $$input="Título"
                               ng-maxlength="300"
                               ng-model="sv.model.about.title"
                               placeholder="Título"
                               class="form-control form-control" />
                        <i class="form-group__bar"></i>
                    </div>
                </div>

                <ul class="icon-list">
                    <li>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-phone"></i>
                            </span>
                            <div $$validate="tel"
                                 class="form-group">
                                <input name="tel"
                                       $$input="Teléfono"
                                       placeholder="Teléfono"
                                       ng-maxlength="300"
                                       ng-model="sv.model.about.tel"
                                       type="text" class="form-control form-control-sm">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-email"></i>
                            </span>
                            <div $$validate="email"
                                 class="form-group">
                                <input name="email"
                                       $$input="Correo"
                                       placeholder="Correo"
                                       ng-maxlength="300"
                                       ng-model="sv.model.about.email"
                                       type="text" class="form-control form-control-sm">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                <i class="zmdi" ng-class="::('zmdi-' + sv.user.provider)"></i>
                            </span>
                            <div $$validate="name"
                                 class="form-group">
                                <input ng-readonly="sv.user.provider !== 'ntsSession'"
                                       name="name"
                                       $$input="Nombre"
                                       placeholder="Nombre"
                                       ng-maxlength="300"
                                       ng-model="sv.model.user.name"
                                       type="text" class="form-control form-control-sm">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-block">
                <h4 class="card-block__title mb-4" ng-bind="::('Acerca de ' + sv.user.name)"></h4>

                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <i class="zmdi zmdi-edit"></i>
                    </span>
                    <div $$validate="description"
                         class="form-group">
                        <textarea name="description"
                                  $$input="Acerca de"
                                  ng-maxlength="1000"
                                  style="height: 150px;"
                                  class="form-control"
                                  ng-model="sv.model.about.description"></textarea>
                        <i class="form-group__bar"></i>
                    </div>
                </div>

                <br>

                <h4 class="card-block__title mb-4">
                    Informacion de contacto
                </h4>

                <ul class="icon-list">
                    <li>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-linkedin"></i>
                            </span>
                            <div $$validate="linkedin"
                                 class="form-group">
                                <input name="linkedin"
                                       $$input="Correo"
                                       placeholder="URL"
                                       ng-maxlength="300"
                                       ng-model="sv.model.about.linkedin"
                                       type="text" class="form-control form-control-sm">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-pin"></i>
                            </span>
                            <div class="form-group">
                                <input readonly
                                       value="Costa Rica, San jose, Tibas, San juan calle 19A"
                                       type="text" class="form-control form-control-sm">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                    </li>
                </ul>

                <br />

                <button type="submit"
                        class="btn btn-primary btn--icon-text waves-effect float-right">
                    <i class="zmdi zmdi-floppy"></i> Guardar
                </button>
                <button ng-click="cancelEditProfile()"
                        class="btn btn-danger btn--icon-text waves-effect float-right">
                    <i class="zmdi zmdi-close-circle"></i> Cancelar
                </button>
            </div>
        </div>

    </form>
</div>