﻿/*References*/
.has-success.form-group .SSspan,
.has-warning.form-group .SSspan,
.has-danger.form-group .SSspan {
  padding-right: 0.3rem;background-repeat: no-repeat;background-position: center right 0.6375rem;background-size: 1.275rem 1.275rem;
}
.has-success.form-group .SSspan,
.has-success .has-success.form-group .SSspan {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%2332c787' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
}
.has-warning.form-group .SSspan,
.has-warning .has-warning.form-group .SSspan {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23ffc107' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E");
}
.has-danger.form-group .SSspan,
.has-danger .has-danger.form-group .SSspan {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff5652' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
}
/*Notes*/
body,
.tooltip-inner,
.default-font-family {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.default-font-color {
  color: #707070 !important;
}
.default-font-placeholder::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #707070 !important;
}
.default-font-placeholder:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #707070 !important;
  opacity: 1;
}
.default-font-placeholder::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #707070 !important;
  opacity: 1;
}
.default-font-placeholder:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #707070 !important;
}
.custom-checkbox + .SSspan {
  top: 2px !important;
}
.has-success.form-group .SSspan {
  display: block !important;
  position: absolute;
  width: 25px;
  height: 15px;
  right: -5px;
  top: 10px;
  cursor: pointer;
}
.has-warning.form-group .SSspan {
  display: block !important;
  position: absolute;
  width: 25px;
  height: 15px;
  right: -5px;
  top: 10px;
  cursor: pointer;
}
.has-danger.form-group .SSspan {
  display: block !important;
  position: absolute;
  width: 25px;
  height: 15px;
  right: -5px;
  top: 10px;
  cursor: pointer;
}
.clickable {
  cursor: pointer !important;
}