﻿/*References*/
@import (reference) "../$$/$$variables.less";
@import (reference) "../../css/app";
@import (reference) "../../vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css";

/*Notes*/
body, .tooltip-inner, .default-font-family {
    font-family: @default-font-family;
}

.default-font-color {
    color: @default-font-color !important;
}

.default-font-placeholder {
    &::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: @default-font-color !important;
    }

    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: @default-font-color !important;
        opacity: 1;
    }

    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: @default-font-color !important;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: @default-font-color !important;
    }
}

.SSspan() {
    display: block !important;
    position: absolute;
    width: 25px;
    height: 15px;
    right: -5px;
    top: 10px;
    cursor: pointer;
}

.custom-checkbox + .SSspan {
    top: 2px !important;
}

.has-success.form-group .SSspan {
    .SSspan();
    &:extend(.has-success .form-control-success);
    &:extend(.form-control-success all);
}

.has-warning.form-group .SSspan {
    .SSspan();
    &:extend(.has-warning .form-control-warning);
    &:extend(.form-control-warning all);
}

.has-danger.form-group .SSspan {
    .SSspan();
    &:extend(.has-danger .form-control-danger);
    &:extend(.form-control-danger all);
}

.clickable{
    cursor: pointer !important;
}