﻿@import '../../vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css';
@import '../../vendors/bower_components/animate.css/animate.min.css';
@import '../../vendors/bower_components/jquery.scrollbar/sass/jquery.scrollbar.min.css';
@import '../../vendors/bower_components/fullcalendar/dist/fullcalendar.min.css';
@import "../../css/app";

/*references*/
@import (reference) "../$$/mins.less";

/*$$*/
@import "../$$/$$exceptions.less";
@import "../$$/$$message.less";
@import "../notes/custom.less";

.user__name {
    font-size: 14px;
}

section[ui-view] {
    .page-loader:not(.page-loader-main) {
        min-height: 350px;
        position: relative;
        z-index: -1;
    }
}

@media print {
    .no-print {
        display: none;
    }
}

@import "ntsSearchInput";
@import "ntsSpinner";

//TODO
.quick-stats__info > small {
    white-space: normal;
    padding-bottom: 5px;
}

.quick-stats__info-leyend {
    font-size: 10px;
    color: #fff;
    font-weight: 600;
    position: absolute;
    right: 35px;
}

.card-header {
    padding-top: 14px;
    padding-bottom: 15px;

    .widget-calendar__day {
        font-size: 16px;
    }
}

.btn-primary.float-right{
    margin-left: 5px;
}