﻿<div class="card animated fadeIn">
    <div class="card-header">
        <h2 class="card-title">Notas estudiates</h2>
        <small class="card-subtitle">
            {{::sv.curso.cursoDisplayName}}
        </small>

        <div class="actions">
            <!--<a href="" class="actions__item zmdi zmdi-trending-up"></a>
            <a href="" class="actions__item zmdi zmdi-check-all"></a>-->

            <div class="dropdown actions__item">
                <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item"
                            ng-click="editar()"
                            ng-bind="sv._editar ? 'Cancelar' : 'Editar'"></button>

                    <button class="dropdown-item" ng-if="!sv._editar"
                            ng-click="!(sv._verTodo = 0) && paginator.changePageSize(5)">
                        Ver 5 lineas
                    </button>
                    <button class="dropdown-item" ng-if="!sv._editar"
                            ng-click="!(sv._verTodo = 0) && paginator.changePageSize(15)">
                        Ver 15 lineas
                    </button>
                    <button class="dropdown-item" ng-if="!sv._editar"
                            ng-click="!(sv._verTodo = 0) && paginator.changePageSize(25)">
                        Ver 25 lineas
                    </button>
                    <button class="dropdown-item" ng-if="!sv._editar"
                            ng-click="(sv._verTodo = 1) && paginator.changePageSize(sv.estudiantesConNota.length)">
                        Ver Todo
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="card-block">
        <div class="col-md-12 col-sm-12">

            <div class="no-print animated fadeIn"
                 ng-show="!sv._editar"
                 nts-search-input
                 nts-min-length="2"
                 nts-data-origin="::sv.estudiantesConNota"
                 nts-data-target="::sv.estudiantesConNotaFiltered">
            </div>

            <form id="frmEditNotas"
                  name="frmEditNotas"
                  $$exception-show="true"
                  ng-submit="save()"
                  class="table-responsive scrollbar-inner">

                <div ng-show="sv._editar" class="animated fadeIn">
                    <button type="submit"
                            class="btn btn-primary btn--icon-text waves-effect float-right">
                        <i class="zmdi zmdi-floppy"></i> Guardar
                    </button>

                    <a ng-click="sv._editar = 0"
                       style="color: white"
                       class="btn btn-danger btn--icon-text waves-effect float-right">
                        <i class="zmdi zmdi-close-circle"></i> Cancelar
                    </a>

                    <br />                <br />

                </div>

                <table class="table table-bordered">
                    <thead>
                        <tr class="text-uppercase">
                            <th style="min-width: 250px">Estudiante</th>
                            <td ng-repeat="key in sv.rubrosKeys" ng-bind="key"></td>
                            <th style="width: 50px">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="student in sv.estudiantesConNotaFiltered | limitTo:sv.$$limitTo | limitTo:sv.$$pagezize">
                            <td ng-bind="::(student.id + ' ' + student.nombre)"></td>
                            <td ng-repeat="key in sv.rubrosKeys" ng-if="!sv._editar" ng-bind="::student[key]" 
                                class="animated fadeIn"></td>
                            <td ng-repeat="key in sv.rubrosKeys" ng-if="sv._editar" class="animated fadeIn"
                                style="padding: 0;">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" style="border: none;">
                                        <i class="zmdi zmdi-assignment"></i>
                                    </span>
                                    <div class="form-group">
                                        <input name="title"
                                               $$input="{{student.nombre + ' ' + key}}"
                                               ng-maxlength="5"
                                               ng-model="student['model_' + key]"
                                               placeholder="0.0"
                                               type="number"
                                               style="border-left: none;"
                                               class="form-control form-control" />
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </td>
                            <td ng-bind="::student.total" ng-if="!sv._editar"></td>
                            <td ng-bind="getNota(student)" ng-if="sv._editar"></td>
                        </tr>
                    </tbody>
                </table>

                <div ng-show="sv._editar" class="animated fadeIn">

                    <button type="submit"
                            class="btn btn-primary btn--icon-text waves-effect float-right">
                        <i class="zmdi zmdi-floppy"></i> Guardar
                    </button>
                    <a ng-click="sv._editar = 0"
                       style="color: white"
                       class="btn btn-danger btn--icon-text waves-effect float-right">
                        <i class="zmdi zmdi-close-circle"></i> Cancelar
                    </a>
                </div>
            </form>

            <div class="no-print"
                 $$paginator="paginator"
                 ng-show="!sv._editar"
                 $$rows-length="sv.estudiantesConNotaFiltered.length"
                 $$page-size="::sv.$$pagezize"
                 $$limitto="::sv.$$limitTo">
            </div>
        </div>

        <button ng-if="!sv._editar" class="btn btn-danger btn--action btn--fixed  waves-effect fadeIn" data-ma-action="print">
            <i class="zmdi zmdi-print"></i>
        </button>

    </div>
</div>
