﻿<div $$lazy-render="sv.lazyrender">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-6">
                <div class="card widget-calendar">
                    <div class="card-header bg-light-blue">
                        <div class="widget-calendar__year"></div>
                        <div class="widget-calendar__day"></div>

                        <!--<a href="calendar.html" class="bg-orange btn btn--action"><i class="zmdi zmdi-plus"></i></a>-->
                    </div>

                    <div class="widget-calendar__body"></div>
                </div>
            </div>

            <!--resumes-->
            <div class="col-md-6">

                <!--todo list-->
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="card todo">
                            <div class="card-header">
                                <h2 class="card-title">Lista de tareas</h2>
                                <small class="card-subtitle">A continuación se muestran los eventos más recientes del calendario. </small>
                            </div>
                            <div class="listview">
                                <div class="listview__item" ng-repeat="event in sv.cuadroEvaluacion" ng-hide="event.hide">
                                    <label class="custom-control custom-control--char todo__item">
                                        <span class="custom-control--char__helper">
                                            <i ng-class="::event.className">{{::event.rubroName}}</i>
                                        </span>
                                        <div class="todo__info">
                                            <span ng-bind="::event.rubroDisplay">Examen curso MAT-01</span>
                                            <small ng-bind="::event.fechaEvaluacion">04-30-2019 8.30 AM</small>
                                        </div>

                                        <div class="listview__attrs">
                                            <span>#Revision terminada</span>
                                        </div>
                                    </label>

                                    <div class="actions listview__actions">
                                        <div class="dropdown actions__item">
                                            <i class="zmdi zmdi-more-vert" data-toggle="dropdown"></i>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <!--<a class="dropdown-item" href="">Completar</a>-->
                                                <a class="dropdown-item" href="" ng-click="ocultar(event.RubroEvaluacionId)">Ocultar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>