﻿<div class="card animated fadeIn">
    <div class="card-header">
        <h2 class="card-title" ng-bind="::sv.curso.cursoDisplayName"></h2>
        <small class="card-subtitle">
            {{::sv.curso.periodoDisplayName}} <a ng-href="{{'#/grades2?' + sv.curso.cursoId}}">Ver Notas</a>
        </small>

        <div class="actions">
            <!--<a href="" class="actions__item zmdi zmdi-trending-up"></a>
            <a href="" class="actions__item zmdi zmdi-check-all"></a>-->

            <div class="dropdown actions__item">
                <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item"
                            ng-click="sv._showResume = !sv._showResume"
                            ng-bind="sv._showResume ? 'Cancelar' : 'Editar'"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-block">
        <div class="accordion" id="accordionExample">

            <div class="card" ng-repeat="rubro in sv.rubros">
                <div class="card-header">
                    <a class="card-title collapsed" data-toggle="collapse"
                       data-parent="#accordionExample" href="#collapse_{{::rubro.name}}"
                       target="_self" aria-expanded="true" ng-bind="::rubro.name + ' ' + rubro.pocentaje + '%'">Collapsible Group Item #1</a>
                </div>

                <div id="collapse_{{::rubro.name}}" class="collapse" aria-expanded="true" style="">
                    <div class="card-block">
                        <div class="table-responsive scrollbar-inner">
                            <small style="font-size: 12px;">
                                Fecha, Porcentaje, Nombre...
                            </small>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr ng-repeat="evaluacion in rubro.evaluaciones">
                                        <td style="width: 130px;" ng-bind="evaluacion.fechaEvaluacion"></td>
                                        <td style="width: 80px;" ng-bind="evaluacion.porcentaje"></td>
                                        <td ng-bind="evaluacion.rubroDisplay"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




